In [20]:
import pandas as pd

csv_file_path_follow = 'follow.csv'
csv_file_path_always = 'always your.csv'


df_follow = pd.read_csv(csv_file_path_follow)
df_always = pd.read_csv(csv_file_path_always)
 
print (df_always)

      登記名字       通路排卡登記品項      特典排序 Unnamed: 3 專卡排序      請確認.     Unnamed: 6  \
0      NaN            NaN    WVS JP         環球  HMV     TOWER  SEVENTEEN NET
1      林庭儀         WVS JP         秀        NaN  NaN       NaN            NaN
2      李定穎         WVS JP         奎        NaN  NaN       NaN            NaN
3      劉昀真  WVS JP, TOWER       漢 圓        NaN  NaN         哲            NaN
4      沈之媛      Universal       NaN          奎  NaN       NaN            NaN
..     ...            ...       ...        ...  ...       ...            ...
68     鄭菩言            HMV       NaN        NaN    漢       NaN            NaN
69     林筑云         WVS JP  WVS JP 圓        NaN  NaN       NaN            NaN
70  Pei ho      SEVEN NET         圓        NaN  NaN       NaN              碩
71     林庭妤          TOWER       NaN        NaN  NaN  Tower  秀            NaN
72     余欣諭         WVS JP         圓        NaN  NaN       NaN            NaN

   Unnamed: 7 專卡排序.1 Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12  \
0         NaN      A          B           C           D          普通
1          C盤    NaN        NaN       C盤\n秀         NaN         NaN
2         克拉盤    NaN        NaN         NaN         NaN         NaN
3           無      無        NaN         NaN         NaN         NaN
4        限定價盤    NaN        NaN         NaN         NaN         NaN
..        ...    ...        ...         ...         ...         ...
68         C盤    NaN        NaN           奎         NaN         NaN
69        克拉盤    NaN        NaN         NaN         NaN         NaN
70    7-11限定盤    NaN        NaN         NaN         NaN         NaN
71         A盤   A盤 俊        NaN         NaN         NaN         NaN
72        NaN    NaN        NaN         NaN         NaN         NaN

   Unnamed: 13 Unnamed: 14    Unnamed: 15
0          限定價         克拉盤  SEVENTEEN NET
1          NaN         NaN            NaN
2          NaN           奎            NaN
3          NaN         NaN            NaN
4       限定價盤 奎         NaN            NaN
..         ...         ...            ...
68         NaN         NaN            NaN
69         NaN       克拉盤 榮            NaN
70         NaN         NaN              碩
71         NaN         NaN            NaN
72         NaN         NaN            NaN

[73 rows x 16 columns]

In [26]:
names_follow = df_follow['FB名字']
names_always = df_always['登記名字']

clean_names_follow = names_follow.dropna ()
clean_names_always = names_always.dropna ()

names_follow_set = set(clean_names_follow)
names_always_set = set(clean_names_always)

print (names_follow_set & names_always_set)

{'林詩玲', '程薇儒'}